@import 'variables.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

p,
li {
  font-family: var(--content-font-family);
}

.heading {
  text-transform: uppercase;
  border-bottom: 1px solid;
}

/* App */

.App {
  margin-top: 30px;
  box-shadow: 3px 3px 12px #ddd;
}

/* Sidebar */

.Sidebar {
  background-color: var(--main-bg-color);
  color: var(--sidebar-text-color);
  padding: 3rem 0;
}

.Sidebar .name {
  text-transform: uppercase;
}

.Sidebar .photo {
  margin: 20px 0;
}

.Sidebar .photo img {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}

/* Content */

.Content {
  color: var(--content-text-color);
  padding: 3rem;
}
